{{!--  --}}
<div class="px-5">
  <form action="/generating" class="mx-5">

    {{!-- Roles --}}
    <div class="mb-5 d-flex">
      <div class="d-flex flex-column align-items-center">
        <label for="engineer">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
            class="rounded" alt="image of engineer">
        </label>
        <div class="role-title">
          <input class="form-check-input role-title" type="radio" name="roles" id="engineer" value="engineer"
            {{#ifMatch role 'engineer'}}checked{{/ifMatch}}>
          <label class="form-check-label role-title" for="engineer">工程師</label>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <label for="designer">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
            class="rounded" alt="image of designer">
        </label>
        <div class="role-title">
          <input class="form-check-input role-title" type="radio" name="roles" id="designer" value="designer"
            {{#ifMatch role 'designer'}}checked{{/ifMatch}}>
          <label class="form-check-label role-title" for="designer">設計師</label>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <label for="entrepreneur">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
            class="rounded" alt="image of entrepreneur">
        </label>
        <div class="role-title">
          <input class="form-check-input role-title" type="radio" name="roles" id="entrepreneur" value="entrepreneur"
            {{#ifMatch role 'entrepreneur'}}checked{{/ifMatch}}>
          <label class="form-check-label role-title" for="entrepreneur">創業家</label>
        </div>
      </div>
    </div>

    {{!-- Generate District --}}
    <div id="generate-div" class="form-row d-flex">
      <button type="submit" id="submit-btn" class="btn btn-secondary">產生幹話</button>
      <div id="generate-column" class="border border-secondary rounded flex-grow-1 ml-3 p-2">
        <span>{{trashTalk}}</span>
      </div>
    </div>
  </form>
</div>
