img {
  height: 40vh;
}

img:hover {
  cursor: pointer;
}

.role-title:hover {
  cursor: pointer;
}

#generate-div {
  height: 100px;
}

#submit-btn {
  height: 50px;
}

#generate-column {
  height: 80px;
}
